<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulário Tag</title>
</head>
<body>
    <h1 th:text="${tag.codigoTag == null ? 'Nova Tag' : 'Editar Tag'}"></h1>
    <form th:action="@{/tags}" th:object="${tag}" method="post">
        <input type="hidden" th:field="*{codigoTag}"/>
        
        <label>Status:</label>
        <input type="text" th:field="*{status}" required/>
        <br/>
        
        <label>Chassi:</label>
        <input type="text" th:field="*{chassi}" required/>
        <br/>
        
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
