<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho('Editar Usuario')}" />
<body>
    <!-- Formulário de logout -->
    <div th:replace="~{fragmentos :: form-logout}" />
    
    <div class="container">
        <div class="row">
            <h1>Editar Usuário</h1>
        </div>
        <div class="row">
            <!-- Formulário de edição de usuário -->
            <form th:object="${usuario}" th:action="@{/usuario/atualizar/{id}(id=${usuario.id})}" method="post">
                
                <!-- Campo para o nome -->
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <input id="nome" class="form-control" type="text" th:field="*{nome}" th:errorclass="is-invalid" />
                    <div class="invalid-feedback" th:errors="*{nome}"></div>
                </div>

                <!-- Campo para selecionar as funções -->
                <div class="mb-3">
                    <label for="funcoes" class="form-label">Funções:</label>
                    <select id="funcoes" class="form-select" th:field="*{funcoes}" multiple="multiple">
                        <option th:each="funcao : ${listaFuncoes}" 
                                th:value="${funcao.id}" 
                                th:text="${funcao.nome}" 
                                th:selected="*{funcoes.contains(funcao)}" />
                    </select>
                    <div class="invalid-feedback" th:errors="*{funcoes}"></div>
                </div>

                <!-- Token CSRF -->
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

                <!-- Botão para salvar alterações -->
                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            </form>
        </div>
        
        <!-- Link para voltar à lista de usuários -->
        <div class="row">
            <a href="/index" class="btn btn-secondary">Voltar para a lista de usuários</a>
        </div>
    </div>

    <!-- Bootstrap Bundle com Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
