<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho('Editar Usuário')}"></head>
<body>
  
    <div th:replace="~{fragmentos :: form-logout}"></div>
    
    <div class="container mt-4">
        <div class="row">
            <h1>Editar Usuário</h1>
        </div>
        <div class="row">
            <form th:object="${usuario}" 
                  th:action="@{/usuario/atualizar/{id}(id=${usuario.id})}" 
                  method="post">
                
                <!-- Campo Nome -->
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <input id="nome" class="form-control" 
                           type="text" th:field="*{nome}" 
                           th:errorclass="is-invalid" />
                    <div class="invalid-feedback" th:errors="*{nome}"></div>
                </div>

                <!-- Campo Funções (multi-seleção) -->
                <div class="mb-3">
                    <label for="funcoes" class="form-label">Funções:</label>
                 <select th:field="*{funcoes}" class="form-select" multiple>
					    <option th:each="f : ${lista_funcoes}" 
					            th:value="${f.id}" 
					            th:text="${f.nome}">
					    </option>
				</select>
                    <div class="invalid-feedback" th:errors="*{funcoes}"></div>
                </div>

                <!-- Token CSRF -->
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

                <!-- Botão -->
                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            </form>
        </div>
        
        <!-- Voltar -->
        <div class="row mt-3">
            <a href="/index" class="btn btn-secondary">Voltar para a lista de usuários</a>
        </div>
    </div>

    <div th:replace="~{fragmentos :: script-js}"></div>
</body>
</html>
