<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: cabecalho('Formulário de Setor')}" />
<body>

<div th:replace="~{fragmentos :: form-logout}" />

<div class="container">
    <h1 th:text="${setor.id} != null ? 'Cadastrar Setor'"></h1>

 <form th:action="@{/setor/salvar}" th:object="${setor}" method="post">

    <input type="hidden" th:field="*{id}" />

    <div class="form-group">
        <label for="nome">Nome do Setor</label>
        <input id="nome" class="form-control" th:field="*{nome}" placeholder="Digite o nome do setor"/>

        <label for="descricao">Descrição do Setor</label>
        <input id="descricao" class="form-control" th:field="*{descricao}" placeholder="Digite a descrição do setor"/>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="/setor/menu" class="btn btn-secondary">Menu de Setores</a>
</form>
</div>

<script th:replace="~{fragmentos :: script-js}" />
</body>
</html>
